$mobile: 900;

@mixin borderbox {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@mixin bgcover {
    background-position: 50% 50%;
    background-size: cover;
}

@mixin mobile {
    @media screen and (max-width: $mobile + 'px') {
        @content;
    }
}

@mixin fromMobile {
    @media screen and (min-width: $mobile + 1 + 'px') {
        @content;
    }
}

/*
@font-face {
	font-family: 'Gotham Pro';
	src: url('fonts/GothamPro-Medium.eot');
	src: 
		url('fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/GothamPro-Medium.woff') format('woff'),
		url('fonts/GothamPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
*/
@font-face {
    font-family: 'Gotham Pro';
    src: url('fonts/GothamPro-Bold.eot');
    src:
        url('fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/GothamPro-Bold.woff') format('woff'),
        url('fonts/GothamPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/*
@font-face {
	font-family: 'Gotham Pro';
	src: url('fonts/GothamPro-Light.eot');
	src: 
		url('fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/GothamPro-Light.woff') format('woff'),
		url('fonts/GothamPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}*/

@font-face {
    font-family: 'Gotham Pro';
    src: url('fonts/GothamPro.eot');
    src:
        url('fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
        url('fonts/GothamPro.woff') format('woff'),
        url('fonts/GothamPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
        url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
        url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
        url('fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
        url('fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

fieldset,
input,
textarea {
    outline: none;
    color: inherit;
    -webkit-appearance: none;
    background: none;
    border: none;
    border-radius: 0;
    font-family: inherit;
    resize: none;
    line-height: normal;
}

select {
    outline: none;
    color: inherit;
    background: none;
    border: none;
    border-radius: 0;
    font-family: inherit;
    resize: none;
    line-height: normal;
    cursor: pointer;
}

input:active,
textarea:active {
    outline: none;
}

:focus {
    outline: none;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: transparent !important;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
    color: transparent !important;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: transparent !important;
}

input::-ms-clear {
    display: none;
}

address,
article,
aside,
canvas,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    border: none;
    border-style: none;
}

a,
a:hover,
a:visited,
a:active {
    outline: none;
    text-decoration: none;
    cursor: pointer;
    border-color: inherit;
}

p {
    margin-bottom: 5px;
}

a {
    color: inherit;
}

div {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: inherit
}

a img {
    border: 0px;
}

ul {
    list-style: none;
}

svg {
    display: inline-block;
    fill: currentColor;
    vertical-align: top;
}

.svg-icon {
    width: 100%;
    height: 100%;
}

img.fits {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
}

img.fits.inline {
    display: inline-block;
    vertical-align: middle;
}

.clear {
    clear: both
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.c-warning {
    color: #eb5743;
}
.styled-forms input:not([type="submit"]) {
	width: 100%;
    height: 50px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 17px;
    margin-bottom: 20px;
    border: none;
    background: #111213;
    color: #a6a7a7;
    border-radius: 5px;
}
.styled-forms input[type="submit"] {
    width: 100%;
    height: 50px;
    line-height: 46px;
    text-align: center;
    color: #282828;
    font-size: 14px;
    display: block;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    background-color: #fccf71;
    border: none;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.styled-forms input[type="submit"]:hover {
    background-color: #fff;
}
.styled-forms textarea {
	width: 100%;
	height: 145px;
	padding: 17px;
	line-height: normal;    
    margin-bottom: 20px;
	resize: none;
    border: none;
    background: #111213;
    color: #a6a7a7;
    border-radius: 5px;
	box-sizing: border-box;
}
.styled-forms input:not([type="submit"]):focus,
.styled-forms textarea:focus {
	box-shadow: inset 0 0 2px #5A5A5A;
}
.styled-forms span[role="alert"]{
  display: none;
}
.styled-forms input.wpcf7-not-valid {
	border-color: #ed1c24;
}
.styled-forms .hidden-field {
	display: none;
}
.styled-forms.placeholder-white ::-webkit-input-placeholder {
    color: #fff;
}
.styled-forms.placeholder-white ::-moz-placeholder {
    color: #fff;
}
.styled-forms.placeholder-white :-ms-input-placeholder {
    color: #fff;
}
.styled-forms.placeholder-white :-moz-placeholder {
    color: #fff;
}
div.wpcf7-response-output {
    margin: 2em 0 1em;
}
.styled-forms div.wpcf7-response-output {
    margin: 20px;
    padding: 8px;
    clear: both;
}
.styled-forms .ajax-loader {
    display: none;
}
.styled-forms .formrow-title {
    font-size: 14px;
    color: #42434f;
    margin-bottom: 4px;
}
.styled-forms span.required {
    color: #ed1c24;
    font-size: 19px;
    font-family: Arial;
    display: inline-block;
    vertical-align: middle;
    line-height: 12px;
}
body {
    font-family: 'Gotham Pro', sans-serif;
    font-size: 14px;
    color: #ffffff;
    background-color: #040506;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;

    &.pc-l {
        min-width: 1200px;
    }
}

.c-box {
    margin: 0 auto;
    max-width: 1165px;
    padding: 0 10px;
}

.button {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 16px;
    padding: 18px 25px 18px 0;
    border: 2px solid;
    border-radius: 30px;
    position: relative;
    display: block;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: 0.03em;
    &:hover {
        color: #fccf71;
    }

    &__arrow {
        position: absolute;
        right: 25px;
        top: 50%;
        border-bottom: 1px solid;
        width: 34px;

        &::after {
            content: '';
            display: block;
            width: 8px;
            height: 8px;
            position: absolute;
            right: 2px;
            top: -4px;
            transform: rotate(-45deg);
            border-right: 1px solid;
            border-bottom: 1px solid;
            transform-origin: 50% 50%;
        }
    }
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 27px 0 10px;
    z-index: 101;
    transition: 0.3s;
    background: transparent;
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__logo {
        img {
            height: 68px;
            transition: 0.3s;
        }
    }

    &__nav-inner {
        display: flex;
        padding-top: 8px;
    }

    &__nav-item {
        &:not(:first-child) {
            margin-left: 67px;
        }
    }

    &__nav-link {
        font-size: 15px;
        text-transform: uppercase;
        font-weight: bold;
        color: #808080;
        display: block;
        line-height: 17px;
        letter-spacing: 0.01em;

        @include fromMobile() {
            &:hover {
                color: #fff;
            }
        }
    }
}
body:not(.at-top) .header {
    background: #000000;
    padding: 10px 0 10px;
    box-shadow: 0 0 10px #000000;
    &__logo {
        img {
            height: 30px;
        }
    }
}
.langswitch {
    position: relative;

    &__trigger {
        position: relative;
        padding-right: 13px;
        width: 30px;

        &::after {
            content: '';
            display: block;
            border-top: 4px solid #fccf71;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
        }
    }

    &.show-lang-select .langswitch__trigger {
        opacity: 0;
        visibility: hidden;
    }

    &__select {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 2;
        text-align: center;
        top: 50%;
        transform: translate(0, -50%);
        border-radius: 2px;
        background: #333333;
        padding: 2px 0;
        display: none;

        &-item {
            cursor: pointer;
            color: #808080;
            font-size: 12px;
            text-transform: uppercase;
            padding: 4px 0;
            font-weight: bold;

            @include fromMobile() {
                &:hover {
                    color: #fff;
                }
            }
        }
    }

    &.show-lang-select .langswitch__select {
        display: block;
    }
}

.ls-stscreen {
    height: 100vh;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #020304;
    background-image: url(img/ls-stscreen-bg.jpg);
    background-size: auto 100%;
    background-position: 50% 50%;

    &__title-wrap {
        text-align: center;

        .button {
            max-width: 308px;
            margin: 0 auto 68px;
        }
    }

    &__title-1 {
        color: #fccf71;
        font-size: 100px;
        font-weight: bold;
        position: relative;
        letter-spacing: 0.2em;
        line-height: 1.1;
        padding-bottom: 15px;
        margin-bottom: 10px;

        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
            width: 98px;
            height: 4px;
            background: #fccf71;
            border-radius: 1px;
        }
    }

    &__title-2 {
        font-size: 60px;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 1.1;
        letter-spacing: 0.2em;
        margin-bottom: 55px;
    }

    &__mouse {
        width: 20px;
        margin: 0 auto;
        position: relative;

        &-svg {
            width: 20px;
            height: 30px;
            display: block;
            margin-bottom: 15px;
        }

        &-arrow {
            height: 70px;
            width: 1px;
            background: #fff;
            position: relative;
            margin: 0 auto;

            &::after {
                content: '';
                display: block;
                width: 8px;
                height: 8px;
                position: absolute;
                bottom: 2px;
                left: -4px;
                transform: rotate(-45deg);
                border-left: 1px solid;
                border-bottom: 1px solid;
                transform-origin: 50% 50%;
            }
        }

        &-text {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0) rotate(90deg);
            bottom: -50px;
            opacity: 0.1;
            font-size: 14px;
            text-transform: uppercase;
            transform-origin: 50% 50%;
            letter-spacing: 0.03em;
        }
    }
}

.ls-about {
    &__tophex {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(0, -50%);
    }

    &__c-box {
        display: flex;        
        padding-top: 80px;
        padding-bottom: 80px;
        position: relative;
    }

    &__col {
        width: 50%;
        max-width: 50%;
    }

    &__content {
        display: flex;
        align-items: flex-end;
        padding-bottom: 50px;
    }

    &__image {
        @include bgcover;
        min-height: 395px;
    }

    &__title {
        padding: 0 25px 0 168px;
        margin-bottom: 20px;
        position: relative;
        font-size: 36px;
        font-weight: bold;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        &::before {
            content: '';
            position: absolute;
            width: 150px;
            left: 0;
            top: 50%;
            height: 1px;
            background: #fff;
        }
    }

    &__text {
        font-size: 15px;
        color: #a4a5a5;
        line-height: 1.6;
        padding: 0 38px 0 168px;
        letter-spacing: 0.03em;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 44px;
            left: 106px;
            top: 10px;
            height: 4px;
            border-radius: 1px;
            background: #fccf71;
        }
    }
}

.ls-spec {
    &__c-box {        
        padding-top: 80px;
        padding-bottom: 80px;
        position: relative;
    }

    &__tophex {
        position: absolute;
        top: 0;
        left: 8px;
        transform: translate(0, -50%);
    }

    &__label {
        font-size: 36px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        padding-bottom: 30px;
        margin-bottom: 85px;
        line-height: 1.1;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 44px;
            left: 50%;
            transform: translate(-50%, 0);
            bottom: 0;
            height: 4px;
            border-radius: 1px;
            background: #fccf71;
        }
    }

    &__cols-wrap {
        display: flex;
    }

    &__cols-item {
        width: 25%;
        max-width: 25%;
        text-align: center;

        &-inner {
            padding: 0 10px;
        }
    }

    &__cols-img {
        height: 86px;
        margin-bottom: 20px;

        img {
            margin: 0 auto;
        }
    }

    &__cols-title {
        font-size: 16px;
        font-weight: bold;
        position: relative;
        line-height: 1.2;
        padding-bottom: 16px;
        margin-bottom: 10px;
        &::after {
            content: '';
            position: absolute;
            width: 44px;
            left: 50%;
            transform: translate(-50%, 0);
            bottom: 0;
            height: 4px;
            border-radius: 1px;
            background: #fccf71;
        }
    }
    &__cols-text {
        color: #828283;
        line-height: 1.8;
        font-size: 15px;
        letter-spacing: 0.04em;
    }
}
.ls-goods {
    background: #000000;
    &__c-box {
        padding-top: 110px;
        padding-bottom: 80px;
        position: relative;
        max-width: 1560px;
        &-inner {
            border-left: 1px solid #fccf71;
            border-right: 1px solid #fccf71;
        }
    }

    &__tophex {
        position: absolute;
        top: 0;
        right: -50px;
        transform: translate(0, -50%);
    }

    &__label {
        font-size: 36px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        line-height: 1.1;
        position: relative;
        overflow: hidden;
        margin: 0 -1px 55px;
        transform: translate(0, -50%);
        padding: 30px 0;
        &-inner {
            padding: 0 100px;
            display: table;
            margin: 0 auto;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 9999px;
                left: 100%;
                top: 50%;
                transform: translate(0, -50%);
                height: 1px;
                background: #fccf71;
            }
            &::after {
                content: '';
                position: absolute;
                width: 9999px;
                right: 100%;
                top: 50%;
                transform: translate(0, -50%);
                height: 1px;
                background: #fccf71;
            }
        }
        &::after {
            content: '';
            position: absolute;
            width: 44px;
            left: 50%;
            transform: translate(-50%, 0);
            bottom: 0;
            height: 4px;
            border-radius: 1px;
            background: #fccf71;
        }
    }
    &__allbtn {
        color: #fccf71;
        position: relative;
        overflow: hidden;
        margin: 0 -1px;
        transform: translate(0, 50%);
        &-inner {
            padding: 0 100px;
            display: table;
            margin: 0 auto;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 9999px;
                left: 100%;
                top: 50%;
                transform: translate(0, -50%);
                height: 1px;
                background: #fccf71;
            }
            &::after {
                content: '';
                position: absolute;
                width: 9999px;
                right: 100%;
                top: 50%;
                transform: translate(0, -50%);
                height: 1px;
                background: #fccf71;
            }
            .button {
                width: 308px;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
    &__slider-wrap {
        max-width: 960px;
        margin: 0 auto;
        padding-bottom: 20px;
        .owl-carousel {
            .owl-item {
                img {
                    transition: 0.3s;
                }
                &:not(.center) {
                    img {
                        transform: scale(0.8);
                    }
                }
            }
            .owl-nav{
                button {
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    transform: rotate(45deg);
                    color: #322917;
                    top: 50%;
                    margin-top: -42px;
                    display: block;
                }
                button:hover {
                    color: #fff;
                }
                button.owl-prev {
                    left: -40px;
                    border-left: 4px solid;
                    border-bottom: 4px solid;
                    margin-left: -7px;
                }
                button.owl-next {
                    right: -40px;
                    border-right: 4px solid;
                    border-top: 4px solid;
                    margin-right: -7px;
                }
            } 
        } 
        &__slider-item {
            display: block;
        }
    }
}
.ls-news {
    &__c-box {
        padding-top: 110px;
        padding-bottom: 80px;
        position: relative;
    }
    &__tophex {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(0, -50%);
    }
    &__title {
        padding: 0 0 0 168px;
        margin-bottom: 70px;
        position: relative;
        font-size: 36px;
        font-weight: bold;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        &::before {
            content: '';
            position: absolute;
            width: 150px;
            left: 0;
            top: 50%;
            height: 1px;
            background: #fff;
        }
    }
    &__block {
        padding: 0 10px 0 50px;
    }
    &__item {
        width: 30%;
        float: left;
        padding: 0 5px 10px;
        box-sizing: border-box;
        &:nth-child(3),
        &:nth-child(4) {
            width: 40%;
        }
        &-inner {
            @include bgcover;
            height: 325px;
            position: relative;
        }
        
    }
    &__ct {
        position: absolute;
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(7, 7, 7, 0.91);
        opacity: 0;
        transition: 0.3s;
        &-allnews, &:hover {
            opacity: 1;
        }
    }
    &__ct-inner {
        position: absolute;
        right: 45px;
        top: 10px;
        left: 55px;
        bottom: 10px;
        display: flex;
        align-items: center;
    }
    &__ct-block {
        width: 100%;
    }
    &__ct-title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            left: -55px;
            top: 50%;
            margin-top: -1px;
            height: 3px;
            background: #fccf71;
            border-radius: 0 1px 1px 0;
            width: 40px;
        }
    }
    &__ct-text {
        font-size: 12px;
        line-height: 1.6;
        color: #abaaab;
    }
    &__ct-allnews-title {
        font-size: 16px;
        text-transform: uppercase;
        color: #fccf71;
        letter-spacing: 0.03em;
    }
    &__ct-allnews-arrow {
        display: inline-block;
        border-bottom: 1px solid;
        width: 34px;
        position: relative;
        vertical-align: middle;
        margin-left: 20px;    
        top: -2px;
        &::after {
            content: '';
            display: block;
            width: 8px;
            height: 8px;
            position: absolute;
            right: 2px;
            top: -4px;
            transform: rotate(-45deg);
            border-right: 1px solid;
            border-bottom: 1px solid;
            transform-origin: 50% 50%;
        }
    }
}
.ls-news__ct-allnews:hover .ls-news__ct-allnews-title {
    color: #fff;
}
.ls-form {
    
    &__c-box {        
        padding-top: 85px;
        padding-bottom: 150px;
        position: relative;
        display: flex;
        align-items: flex-start;
    }

    &__tophex {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(0, -50%);
    }
    &__lcol {
        width: 45%;
        max-width: 45%;
    }
    &__rcol {
        width: 55%;
        max-width: 55%;
    }
    &__form-wrap {
        padding: 0 25px 0 55px;
    }
    &__title {
        margin-bottom: 20px;
        padding: 0 0 0 180px;
        position: relative;
        font-size: 36px;
        font-weight: bold;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        &::before {
            content: '';
            position: absolute;
            width: 150px;
            left: 0;
            top: 50%;
            height: 1px;
            background: #fff;
        }
    }
    &__text {
        font-size: 15px;
        color: #a4a5a5;
        line-height: 1.6;
        padding: 0 0 0 180px;
        letter-spacing: 0.03em;
        position: relative;
        margin-bottom: 22px;
        &::before {
            content: '';
            position: absolute;
            width: 44px;
            left: 106px;
            top: 10px;
            height: 4px;
            border-radius: 1px;
            background: #fccf71;
        }
    }
    &__einfo {
        margin-bottom: 30px;
        padding: 0 0 0 180px;
        &-title {
            font-weight: bold;
            color: #fccf71;
            text-transform: uppercase;
            line-height: 1.1;
            padding-bottom: 8px;
            letter-spacing: 0.2em;
            position: relative;
            margin-bottom: 15px;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 45px;
                height: 2px;
                border-radius: 1;
                background: #fccf71;
            }
        }
        &-text {
            color: #828283;
            line-height: 1.6;
            font-size: 15px;
        }
    }
}
.footer {
    background: #000000;
    padding: 23px 0;
    &__c-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        padding-left: 35px;
        img {
            height: 45px;
        }
    }
    &__links {
        display: flex;
        align-items: center;
    }
    &__links-item {
        color: #808080;
        &:not(:first-child) {
            margin-left: 45px;
        }
    }
    &__links-icon {
        display: inline-block;
        vertical-align: middle;
        &-phone {
            width: 12px;
            height: 14px;
        }
        &-phone {
            width: 12px;
            height: 14px;
        }
        &-mail {
            width: 19px;
            height: 14px;
        }
        &-instagram {
            width: 19px;
            height: 19px;
        }
        &-facebook {
            width: 20px;
            height: 20px;
        }
    }
    &__links-text {
        display: inline-block;
        vertical-align: middle;
        margin-left: 8px;
    }
}